[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
importlib-resources = "*"
ipdb = "*"
sqlalchemy-serializer = "*"
decouple = "*"
flask-restful = "*"
flask-cors = "*"
dotenv = "*"
werkzeug = "*"
flask = "*"
migrate = "*"
flask-jwt-extended = "*"

[requires]
python_version = "*"

[dev-packages]
python-dotenv = "*"
black = "*"
